
* {
    box-sizing: border-box; /* Include padding and border in the width */
}



body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px; /* Adds space outside the body */
    
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
    padding: 10px 30px; /* Adjusted padding */
}

.logo {
    max-width: 10px; /* Adjust the max-width as needed */
    height: 10px;
}

.buttons {
    display: flex;
    text-align: center;
    
}

header button {
    margin-left: 10px; /* Adjust the margin as needed */
    padding: 10px
}


/* CONTENT */

#DivTitle {
    background-image: url("images/food3.jpeg");
    background-size: cover;
    background-position: left;
    color : white; /* set the text xolor ot white in this div */
    padding: 20px; /* Add padding for better readability*/
    max-width: 50%; /* Set a maximum width for the container */
    /* box-sizing: border-box; Include padding and border in the width */
    margin-top: 30px;
    margin-bottom: 40px;
    margin-right: 20px;
    border-radius: 10px; /*make edges rounder*/
    display: flex; /* Use flexbox to align items */
    align-items: flex-start; /* Align items to the top */

}

/* make edges of logo above title name rounder */
.logo {
    border-radius: 10px;
}

#restaurantTitle {
    font-size: large;
    font-weight: bolder;
}

#restaurantDetails {
    font-size: smaller;
} 

a {
    /* Remove underline from link */
    text-decoration: none;
    margin-right: 20px;
    font-weight: bolder;
}

.navbar a:hover {
    background-color: white;
    color: orange;
}
