
#CategoryName {
    width: 730px;
    height: 60px;


}
#CategoryA {
    font-weight: 600;
    font-size: 20px;

    /* layout */
    width: 730px;
    height: 28px;
}

#CategoryDescription {
    font-weight: 400px;
    size: 16px;

    /* layout */
    width: 730px;
    height: 28px;
}