.order-option {
    /* layout */
    width: 302px;
    height: 40px;
    display: flex;

    align-self: stretch;
    justify-content: center;
    align-items: center;

    /* style */
    border-radius: 8px;
    border: 1px solid var(--Gainsboro, #351c1c);
    background: var(--White, #c1bebe);
    font-size: larger;
}

.bag {
  display: flex;
  width: 16px;
  height: 16px;
  padding: 0.667px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-top: 5px;
}

.text {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  margin-left: 4px;
  margin-top: 5px;
}

.pencil {
  display: flex;
  width: 16px;
  height: 16px;
  padding: 0.667px 0.667px 0.523px 0.522px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-left: 48px;
  margin-top:5px;
}

