.order-option {
    /* background-color: aquamarine; */

    width: 302px;
    height: 48px;
    margin-bottom: 20px; 
    border-radius: 8px;
    border: 1px solid #DCDCDC;
}

 .text {
    text-align: center;
  }
