.cart-fees {
    width: 302px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-end; 
    margin-top: auto;
    align-self: stretch;

    font-size: larger;

    gap: 140px;

    font-weight: bolder;
    font-size: larger;

    color: #28A745;
}
