.cart-fees {
    width: 302px;
    height: 24px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-self: stretch;
}

.discount-text {
    align-self: stretch;
    align-items: flex-start;
    color: var(--Success, #28A745);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Paragraph Bold */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}

.sub-total {
    color: var(--Success, #28A745);
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* Paragraph */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-right: 0;
}