.checkout-button {
    width: 254px;
    height: 24px;
    display: flex;
    height: 48px;
    padding: 12px 24px;
    justify-content: center;
    /* align-items: flex-start; */
   
    gap: 108px;
    align-self: stretch;


    /* style */
    border-radius: 8px;
    background: var(--Success, #28A745);

    /* Button Shadow */
    box-shadow: 4px 4px 0px 0px rgba(34, 34, 34, 0.16);

    font-weight: bolder;
    font-size: larger;
}

.label-left {
    width: 75px;
    height: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.label-right {
    width: 71px;
    height: 24px;

    color: var(--White, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Paragraph Bold */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}