.category-name {
    width: 730px;
    height: 60px;
}
            /* ------CATEGORY DIV -----> */

    /* layout of Category Div */
.category {
     width: 730px;
     height: 28px;
}

/* heading under Category Div */
.category h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #222222;
    margin: 0;
}

            /* ------CATEGORY DECSRIPTION DIV -----> */

/* layout of CategoryDescription Div */
.category-description {
    width: 730px;
    height: 28px;
}

/* paragraph under CategoryDescription Div */
.category-description p {
    font-weight: 400px;
    size: 16px;
    line-height: 24px;
    color:  #808080;
    margin: 0;
}
  

