#CheckoutButton {
    display: flex;
    background-color: #28A745;
    width: 302px;
    height: 48px;
    border-radius: 8px;
    align-items: center;
}

#LabelLeft {
    width: 75px;
    height: 24px;
    

    /* font */
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    margin-right: 150px;
}

#LabelRight{
    width: 71px;
    height: 24px;

     /* font */
     color: white;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     text-align: center;
    

}