.cart-fees {
    display: flex;
    width: 302px;
    height: 24px;
    margin-bottom: 20px;
    /* margin-right: 0; */
    /* background-color: darkkhaki; */
}

.discount-text {
    width: 224px;
    height: 24px;
    line-height: 24px;
    /* background-color: palevioletred; */
}

.sub-total {
    width: 70px;
    height: 24px;

    margin-left:auto;
    text-align: right;
    /* background-color: antiquewhite; */

    /* font properties */
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
}