.main-container {
    width: 730px;
    /* height: 2096px; */
   
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.hero {
    /*Here, '../' is used to go up one level from the MainC folder to the root folder */
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    border-radius: 8px;
    background: linear-gradient(0deg, rgba(34, 34, 34, 0.48) 0%, rgba(34, 34, 34, 0.48) 100%), url("../../images/food.jpeg"), lightgray 50%;
    background-size: cover;
}

.hero-content {
    width: 682px;
    height: 256px;

    /* layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.img-logo {
    display: flex;
    width: 96px;
    height: 96px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
}

.restaurant-title  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;

    /* Heading 2 */
    color: white;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 125% */
    margin: 0;
}

.restaurant-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    margin: 0;

    /* Text Shadow Hero */
    box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.32);

    /* Paragraph */
    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

