.category-tabs {
    width: 730px;
    height: 56px;

    /* fix the position at its current place (should stay fixed while scrolling) */
    position: sticky;
    top: 50px; /*stay below height of nav-bar but above category name (whose height is 60px) */
    background-color: black;
    color: black; /*color of text*/
}

.categories {
    display: inline-flex;
    align-items: flex-end;
    gap: 24px;
    width: 635px;
    height: 40px;
}

.tab-item {
    display: flex;
    height: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    font-weight: bolder;
    color: rgb(222, 178, 96);
    font-size:medium;
}

.tab-item.clicked {
    box-shadow: 0 -2px 0 white; /* Adjust the y-offset and color as needed */
    
    color: white

}

.tab-item-more {
    display: inline-flex;
    width: 63px;;
    height: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    flex-shrink: 0;
}

.tab-content-more {
    display: flex;
    height: 24px;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    font-weight: bolder;
    color: rgb(222, 178, 96);
    font-size:medium;
}

a {
    /* Remove underline from link */
    text-decoration: none;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Paragraph */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}



